<h2 class="text-center">Log In</h2>
<div class="text-center row" id="login-buttons">
  <%= link_to "Log in with Google", '/auth/google_oauth2', class: 'button block' %>
  <%= link_to "Log in with GitHub", '/auth/github', class: 'button block' %>
</div>
